<link rel="stylesheet" href="/stylesheets/sidebar.css">

<div class="bg-light border-right sidebar-wrapper">
    <div class="sidebar-heading">
        <a href="/" id="home-nav">Khai's CV</a>
    </div>
    <div class="list-group list-group-flush d-flex">
        <a href="/" id="overview-nav" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="/cv" id="cv-nav" class="list-group-item list-group-item-action bg-light">Curriculum Vitae</a>
        <a href="/projects" id="projects-nav" class="list-group-item list-group-item-action bg-light">
            Programming Projects</a>
        <a href="/photography" id="photography-nav"
            class="list-group-item list-group-item-action bg-light">Photography</a>
        <% if(currentUser){ %>
        <form action="/admin/logout" method="post">
            <button id="log-out-button" class="mt-5 list-group-item list-group-item-action bg-light">Log out</button>
        </form>
        <% } %>

    </div>
</div>