
<link rel="stylesheet" href="/stylesheets/sidebar.css">

<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <a href="/" id="home">Khai</a>
    </div>
    <div class="list-group list-group-flush">
        <a href="/" id="overview-nav" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="/cv" id="cv-nav" class="list-group-item list-group-item-action bg-light">CV</a>
        <a href="/projects" id="projects-nav" class="list-group-item list-group-item-action bg-light">Projects</a>
        <a href="/photography" id="photography-nav"
            class="list-group-item list-group-item-action bg-light">Photography</a>
    </div>
</div>