<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/css-reset.css">
    <link rel="stylesheet " href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-restyle.css">
    <link rel="stylesheet" href="/stylesheets/overall.css">
    

    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@400;700&display=swap" rel="stylesheet">

    <title> Khai's Curriculum Vitae Admin </title>
</head>

<body>
    <div class="container mt-5">
        <%- include('../partials/flash') %>
        <%- body %>
    </div>

    <script src="/scripts/validateForm.js"></script>
    <script src="/lib/bsCustomInput/bs-custom-input.js"></script>
    <script>    
        bsCustomFileInput.init()
    </script>
</body>

</html>