<% layout('layouts/boilerplate') %>

<div class="d-flex" id="wrapper">
    <%- include('../partials/sidebar') %>
    <div id="page-content-wrapper">
        <%- include('../partials/navbar') %>
        <div class="container-fluid">
            <%- include('../partials/flash') %>
            <%- body %>
        </div>
    </div>
</div>

<script>
    bsCustomFileInput.init()
</script>