<% layout('layouts/boilerplate') %>

<h1 class="text-center mt-5 header">Overview</h1>
<div class="row">
    <div class="col-12 col-md-8">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, perspiciatis rem. Et iure modi ipsum
            placeat
            eius
            ipsa sequi quam suscipit saepe, tempore necessitatibus deserunt, adipisci quaerat, architecto harum
            deleniti.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, doloribus. Laudantium soluta atque
            temporibus
            delectus enim incidunt corporis dolorem voluptas facilis repudiandae qui, suscipit sed blanditiis. Minima
            animi
            eius
            molestias!Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, obcaecati. Quos dignissimos
            eum suscipit
            quidem
            dolorem animi in quia sequi vitae eius laudantium debitis mollitia odit tempora, ad cupiditate! Impedit?</p>
    </div>
    <div class="col-12 col-md-4">
        <img class="img-fluid"
            src="https://images.unsplash.com/photo-1603541123566-d43dca8f1c3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
    </div>
</div>

<style>
    #overview-nav {
        background-color: #dae0e5 !important;
    }
</style>