<% layout('layouts/boilerplate') %>

<h1 class="header">Overview</h1>
<%- include('../partials/overview', {overview_post_url: "/overview"}) %>

<script>
    $("#overview-nav").addClass('current-nav');
</script>