.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 120%;
    margin-bottom: 10%;
}

iframe{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 10px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}