body{
    font-family: 'Open Sans', sans-serif;
}

.header{
    font-size: 4.0rem;
    border-bottom: 10px skyblue solid;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-top: 5%;
    text-transform: uppercase;
}

h1, h2, h3, a{
    font-family: 'Oswald', sans-serif;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

.container-fluid{
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;  
}