body{
    font-family: 'Open Sans', sans-serif;
    background: url("/images/background.jpg");
    background-position: 16% 0%;
    background-size: cover;
}

.overview-container{
    padding: 1.25rem;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, .125)
}

.overview-container, .card{
    background-color: rgba(255, 255, 255, .825);
}


.small-header, .header{
    color: #202225;
    text-shadow: 0.1px 0.1px 0px rgba(255, 255, 255, 0.25);
}

.header{
    font-size: 4.0rem;
    border-bottom: 10px rgb(255, 238, 180) solid;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-top: 5%;
    text-transform: uppercase;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

.container-fluid{
    width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;  
}

@media (max-width: 500px){
    .header{
        font-size: 3.0rem;
    }
}