<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/iframe.css">
<h1 class="header">Photography</h1>

<%- include('../partials/overview', {overview_post_url: "/photography/overview"}) %>
<hr>

<div class="row mb-5">
    <div class="col col-lg-4 col-sm-6">
        <div class="img-thumbnail">
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1599729208674-f494d2bf9d31?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80">
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="img-thumbnail">
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1597670328922-40c0f8908fc9?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80">
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="img-thumbnail">
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1597035815233-3e3d91a9e7e1?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80">
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="img-thumbnail">
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1597035815998-73407e6cf0ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80">
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="img-thumbnail">
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1597035815692-d8d0f85ac654?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80">
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="img-thumbnail">
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1596431706978-90a6748dd21a?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=751&amp;q=80">
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="img-thumbnail">
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1596431707753-6c97a7919f41?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80">
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="img-thumbnail">
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1596428400026-0b5f8d8bd4bd?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80">
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 ">
        <div class="img-thumbnail">
            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1596428398581-508b7027a686?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=751&amp;q=80">
        </div>
    </div>
</div>

<script>
    $("#photography-nav").addClass('current-nav');
</script>