<% layout('layouts/normal') %>
<link rel="stylesheet" href="/stylesheets/iframe.css">

<h1 class="header">Curriculum Vitae</h1>

<div class="container my-3 row border-0">
    <% if(currentUser){ %>
    <a class="btn btn-primary mr-1" href="/cv/edit"> <%= (cv) ? "Change" : "Add" %></a> 
    <% if(cv){ %>
    <form class="d-inline" action="/cv?_method=DELETE" method="post">
        <button class="btn btn-danger"> Delete </button>
    </form>
    <% } %> 
    <% } %> 
</div>

<% if(cv){ %>
<div class="iframe-container">
    <iframe class="responsive-iframe" src="<%= cv.url %>" __idm_frm__="21"></iframe>
</div>
<% }%>

<script>
    $("#cv-nav").addClass('current-nav');
</script>